:root {
  --post-hover-bg: rgba(55, 53, 47, 0.08);
  --post-list-color: #939393;
  --post-light-color: rgba(55, 53, 47, 0.5);
}
#app {
  height: 100%;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

button {
  background: transparent;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

html,
body {
  height: 100%;
}

/* Document */

.post__header {
  padding: 25px 0 15px;
  cursor: pointer;
}
.post__header h3 {
  padding-left: 15px;
}

.sidebar {
  position: fixed;
  width: 260px;
  min-width: 260px;
  background: rgb(247, 246, 243);
  font-size: 14px;
  height: 100%;
}

.post__item {
  width: 100%;
  /* padding-left: 10px; */
  box-sizing: border-box;
  line-height: 24px;
  cursor: pointer;
}

.item__content:hover .item__buttons {
  display: flex;
}

.item__content {
  width: 100%;
  padding: 3px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__content:hover {
  background: var(--post-hover-bg);
}
.item__content.selected {
  background: var(--post-hover-bg);
}

.post__item .item__title {
  color: #707070;
  padding-left: 3px;
  font-size: 0.9rem;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post__item .item__buttons {
  display: none;
  padding-left: 10px;
  color: #a19f9a;
}

.post__item .item__buttons button {
  border-radius: 3px;
  color: inherit;
  width: 22px;
  height: 22px;
  font-size: 0.9rem;
}

.post__item .item__button--toggle {
  border-radius: 3px;
  color: inherit;
  width: 22px;
  min-width: 22px;
  height: 22px;
  font-size: 0.75rem;
  color: var(--post-list-color);
}

.post__item .item__button--remove {
  white-space: nowrap;
  color: inherit;
}
.post__item .item__button--remove i {
  color: inherit;
}

.post__item .item__button--add {
  border-radius: 3px;
  color: inherit;
  width: 22px;
  height: 22px;
  font-size: 0.9rem;
}

.item__button--add:hover,
.item__button--remove:hover,
.item__button--toggle:hover {
  background: var(--post-hover-bg);
}

.post__item .empty-post-message {
  padding-left: 22px;
}

.post__add-button {
  width: 100%;
  padding: 3px 10px;
  box-sizing: border-box;
  text-align: left;
  color: var(--post-list-color);
}

.post__add-button:hover {
  background: var(--post-hover-bg);
}

.post__add-button i {
  width: 22px;
  height: 22px;
  line-height: 22px;
  margin-right: 3px;
  font-size: 17px;
  text-align: center;
  color: var(--post-light-color);
}

.empty-post-message {
  color: var(--post-light-color);
  display: flex;
  min-height: 27px;
  align-items: center;
}

.empty-post-message span {
  padding-left: 10px;
  margin-left: 3px;
}

/* Editor */

.editor-container {
  width: 100%;
  padding: 0 50px 0 280px;
  box-sizing: border-box;
  height: 100vh;
}
.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 800px;
  padding: 10px;
  box-sizing: border-box;
}

.editor__title {
  width: 100%;
  max-width: 800px;
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 100px 0 20px;
  font-size: 2.5rem;
  line-height: 3.3rem;
}
.editor__title:focus {
  outline: 0;
}
.editor__content {
  width: 100%;
  min-height: 60px;
  max-width: 800px;
  box-sizing: border-box;
}

.editor__content:focus {
  outline: 0;
}

.editor__content > div {
  margin: 10px 0;
}

.editor__child-documents {
  width: 100%;
  max-width: 800px;
}

.editor__child-document {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  line-height: 25px;
  padding: 3px 5px;
}

.editor__child-document:hover {
  background: var(--post-hover-bg);
}

.editor__child-document span {
  border-bottom: 1px solid rgba(55, 53, 47, 0.16);
  margin-left: 5px;
  padding-bottom: 2px;
}
.editor__child-document i {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}
