#app {
  display: flex;
}

.editor-container {
  width: 100%;
}
.editor {
  padding: 10px;
}

.editor .editor-title {
  width: 100%;
}
.editor .editor-content {
  border: 1px solid #000;
  width: 100%;
  height: 600px;
}
